@font-face {
    font-family: 'xirod';
    src: url('https://fonts.cdnfonts.com/css/xirod');
    font-weight: 800;
}

#heading,
#startCam {
    position: absolute;
    left: 50%;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.804);
    border-radius: 20px;
    transform: translateX(-50%);
}

#heading {
    top: 10px;
}

#webcamStream {
    position: absolute;
    overflow: clip;
    width: 88%;
    height: 90%;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    top: 18px;
    border-radius: 15px;
    border: 2px solid white
}

#startCam:hover {
    box-shadow: 0 0 20px -4px white;
}

#startCam {
    cursor: pointer;
    bottom: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-style: none;
    background-image: url('./icon.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 43, 43);
    height: 100dvh;
    width: 100vw;
}

@media screen and (max-width:1200px) {
    #webcamStream {
        top: 50%;
        transform: translate(-50%, -50%);
        height: 87vh;
        z-index: -2;
    }
}