#container {
    position: relative;
    width: 60%;
    height: 100%;
}

#toggleBtn {
    display: none;
}

#description {
    transform: translateY(-20px);
    border-radius: 25px;
    height: 87%;
    padding: 15px;
    color: white;
    border: 2px solid white;
    width: 30%;
}


#heading,
#startCam,
#toggleBtn {
    position: absolute;
    z-index: 2;
    left: 50%;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.804);
    border-radius: 20px;
    transform: translateX(-50%);
}

#heading {
    top: 10px;
    font-family: 'Anurati', sans-serif;
}

#webcamStream {
    position: absolute;
    overflow: clip;
    width: 88%;
    height: 90%;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    top: 18px;
    border-radius: 15px;
    border: 2px solid white
}

#startCam:hover {
    box-shadow: 0 0 20px -4px white;
}

#toggleBtn {
    bottom: 0px;
}

#startCam {
    cursor: pointer;
    bottom: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-style: none;
    background-image: url('./icon.png');
    background-repeat: none;
    background-position: center;
    background-size: contain;
}

#description::-webkit-scrollbar {
    width: 5px;
}

#description::-webkit-scrollbar-track {
    width: 5px;
    background-color: transparent;
}

#description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: white;
}

.details-frame {
    padding: 2px 15px;
    border: 1px solid white;
    line-height: 0;
    min-height: 80px;
    margin-bottom: 40px;
}

.details-frame>p {
    white-space: pre;
    border-radius: 10px;
    margin-top: 15px;
    font-size: small;
    font-weight: 500;
    line-height: 1.5;
    word-wrap: break-word;
}

.details-frame>span {
    color: grey;
    font-size: small;
}

body {
    font-family: 'Blanka', sans-serif;
    display: flex;
    align-items: center;
    overflow: clip;
    margin: 0;
    padding: 0;
    background-color: rgb(43, 43, 43);
    height: 100dvh;
    width: 100vw;
}

@media screen and (max-width:1200px) {
    #toggleBtn {
        display: inline-block;

    }

    #webcamStream {
        top: 50%;
        transform: translate(-50%, -50%) scaleX(-1);
        height: 100%;
        z-index: -2;
    }

    #heading {
        top: 0px;
        position: fixed;
    }

    #container {
        height: 50%;
        width: 100%;
    }

    #description {
        width: 80%;
        height: 25%;
        overflow: clip auto;
    }

    body {
        padding: 10px 0;
        justify-content: space-around;
        flex-direction: column;
    }
}